/* general */
*{
	margin: 0;
	padding: 0;	
}

@font-face {
    font-family: "ralewaylight";
    src: url("raleway-light-webfont.woff2") format("woff2"),
        url("raleway-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
	font-size: 10px;	
}

h1{font-size: 1.5rem;}
h2{font-size: 1.4rem;}
h3{font-size: 1rem;
	font-weight:  bold;}
p{font-size: 0.8rem;}

a { text-decoration: none;
    color: black;
}

p::first-letter, ::first-letter, h3::first-letter, li::first-letter {
    text-transform: capitalize;
} 

.block-page {
    margin: 0 auto;    
    font-family: "ralewaylight", sans-serif;
    max-width: 1340px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin: 50px 0;
}

#logo img {
	width: 100px; 
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
	list-style: none;
	font-size: 1rem;
}

nav a {
    text-decoration: none;
    border-top: 2px solid rgba(red, green, blue, 0);
    padding: 0 10px;
}

nav .color-blue a {
    color: #0065fc;
}

nav a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 30px;
}
/* search */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 420px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    margin: 20px 0 40px 0;
}

.search p {
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex;
	justify-content: center;	
}

.search p img {
    width: 30px;
    height: 30px;
    margin: auto;
}

.search input {
    height: 50px;
    width: 220px;
    border: none;
    padding-left: 20px;
    font-size: 1.2rem;   
}
input::placeholder{
    color: black;    
}

.search .button-search {
    width: 130px;
    height: 51px;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    margin-right: -15px;
    padding: 0;
}
/* top */

.top h1{
	margin-bottom: 15px;	
}

.top ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
}

.top ul li:hover {
    color: white;        
    background-color:  #0065FC;
}

.top ul li i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    border-radius: 30px 30px;
    width: 50px;
    margin-left: -10px;
}

.top .icon {
    display: flex;
    align-items: center;
    border: 2px solid #DEEBFF;
    border-radius: 30px;
    height: 45px;
    margin-left: 40px;
}

.top .icon i {
    height: 50px;
    color: #0065FC;
    font-size: 1.3em;
}
.top .icon i:hover{    
    background-color: white;
    border: 1px solid #DEEBFF;  
}

.top .icon span {
    font-size: 1.3rem;
    padding: 0 20px;
}
.top .icon span::first-letter {
    text-transform: uppercase;
}
.top .no-icon {
    font-size: 1.3rem;
    margin-right: 20px;
    list-style: none;
}
.top .no-icon::first-letter {
    text-transform: uppercase;
}

/* information */

.icon-information {
	display: flex;
    align-items: center;
    margin: 40px 0 40px 0;
}

.icon-information i {
	width: 25px;
	height: 25px;
	color: #0065FC;
	font-size: 0.8em;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* main */

main {
	display: flex;
	flex-wrap: wrap;		
	justify-content: space-between;
}
/* color notation  */
.notation {
	display: flex;
}

.notation .star-blue i {
	color: #0065FC;
}

.notation .star-grey i {
	color: #F2F2F2;
}

/* hebergement */

.section-hebergement {
	display: flex;
	flex-direction: column;
	max-width: 880px;		
	border-radius: 20px;
	background-color: #F2F2F2; 
	padding-left: 40px; 
}
.section-hebergement h2{
    margin: 50px 0 30px 0; 
}
.section-hebergement div{
	display: flex;	
	flex-wrap: wrap;	
}
.section-hebergement a {	
	display: flex;	
    border: 5px solid white;
    border-radius: 20px;
	background-color: white;
	height: 200px;
	margin: 0 35px 30px 0;
}
.section-hebergement a figure{
		display: flex;
		flex-direction: column;
}

.section-hebergement img {
	width: 235px;
	height: 120px;
    border-radius: 20px 20px 0 0;    
}

.section-hebergement figcaption {
	margin-top: 15px;
	margin-left: 15px;
	line-height: 1.3rem;
}

/* populaires */

.section-populaires {
	display:flex;
	flex-direction: column;
	max-width: 420px;
	border-radius: 20px;
	background-color: #F2F2F2; 	
}

.section-populaires h2 {
	display: flex;
	justify-content: space-between;	
	margin: 50px 40px 0 40px;		                                                        
}

.section-populaires a figure{
	display: flex;	
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	height: 140px;	
	margin: 30px 40px;	
}

.section-populaires figure img {
	width: 180px;
	border-radius: 20px 0 0 20px;
}

.section-populaires figcaption {
	padding: 20px;	
}
.section-populaires h3{
	margin-bottom: 10px;
}

/* activites */

.section-activites {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 65px 0 30px 0;
}
.section-activites h2{
margin-bottom:  25px;
}

.activites {
	display: flex;
	justify-content: space-between;
}

.activites div {
	width: 23.5%;
}

.activites-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.activites figure {
	padding: 0%;
	margin: 0%;
	border-radius: 20px;
	box-shadow: 0 10px 20px #F2F2F2;
}

.activites figcaption {
	display: flex;	
	font-weight: bold;
	margin: 10px 0;
	padding-left: 20px;
	height: 30px;
}

/* imgages section activites */

img.xl {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 650px;
}

img.medium2 {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 350px;
}

img.medium {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 250px;
}

img.small {
	border-radius: 20px 20px 0 0;
	height: 150px;
	width: 100%;
}

/* Footer */
footer {
	display: flex;
	width: 100%;
	background-color: #F2F2F2;	
	padding-bottom: 50px;
}
footer ul {	
	margin-right: 250px;
}


footer ul li{
	text-decoration: none;
    list-style-type: none;
}
footer ul li a {
	color: black;    
	line-height: 2em;
}

.footer-title {
	margin: 50px 0 25px 0;	
	font-weight: bold;
	font-size: 1.2em;
}

/*  Media screen 400/799  */
@media all and (min-width: 400px) and (max-width: 799px) {
	main {
		flex-flow: wrap column;
		justify-content: space-between;
	}

	.section-populaires {
		order: 0;
		min-width: 100%;
	}

	.section-hebergement {
		background: none;
		order: 1;
		min-width: 100%;
		margin-top: 2rem;
	}

	.section-hebergement .row {
		flex-flow: wrap column;
	}

	.section-hebergement .row a {
		min-width: 82%;
		margin: auto;
	}

	.section-hebergement .row figure {
		border-radius: 20px;
		border: 5px solid #F2F2F2;
		box-shadow: 0 10px 20px #F2F2F2;
	}

	/* activites */

	.section-activites {
		order: 2;
		flex-flow: wrap column;
		min-width: 82%;
	}

	.activites {
		flex-flow: wrap column;
	}

	.activites div {
		width: 100%;
		display: flex;
	}

	.activites-column {
		display: flex;
		width: 100%;
	}

	footer {
		flex-flow: wrap column;
		margin-top: 20px;
	}

	footer ul { 
		min-width: 100%;
	}
}